<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fphoenixcorneae.jetpackmvvm">

    <application>

        <!-- 全面屏适配 声明支持的最大屏幕高宽比-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <provider
            android:name=".startup.LifecycleInitializer"
            android:authorities="${applicationId}.lifecycle-callbacks"
            android:exported="false"
            tools:targetApi="n" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.fphoenixcorneae.jetpackmvvm.startup.CoilInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.fphoenixcorneae.jetpackmvvm.startup.MmkvInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>